select.ui.dropdown.minute {
  width: 50px;
  margin-right: 5px;
  display: inline;
}

.myminute::after {
  content: ":";
  margin-right: 10px;
}

select.ui.dropdown.second {
  width: 50px;
  margin-right: 5px;
}

select.ui.dropdown.period {
  width: 75px;
  margin-right: 5px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-bottom: 25px;
}

.ui.table tr.periodchange td {
  border-top: 5px solid black;
}
.offical {
  font-size: 7pt !important;
}
.offical th {
  padding: 1pt;
  border: 1px solid black;
}
.offical td {
  padding: 1pt;
  border: 1px solid black;
}

.official .ui.table th {
  padding: 1pt;
  border: 1px solid black;
}
.official .ui.table td {
  padding: 1pt;
  border: 1px solid black;
}
.official * {
  font-size: 7pt !important;
}

@media print {
  @page {
    size: letter landscape;
  }
  .headermenu {
    display: none !important;
  }
  h1 {
    font-size: 15pt !important;
  }

  .ui.table th {
    padding: 1pt;
    border: 1px solid black;
  }
  .ui.table td {
    padding: 1pt;
    border: 1px solid black;
  }
  * {
    font-size: 6pt !important;
  }
}
